
.h1{
    background: darkred;
    color: silver;
    text-align: center;
    margin-bottom: 3px;
}

    .a{
        background: silver;
        margin-bottom: 0px;
        padding: 15px;

    }
.b {
    background: cornflowerblue;
    padding-top:  15px;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.targetA{
    background: #66b666;
    width: 200px;
    height: 200px;
}
.targetB{
    background: #5e5858;
    width: 200px;
    height: 200px;
    border-radius: 10px;

}
