.body{
    margin: 0;
}

.target {
    width: 400px;
    background: silver;
    min-height: 100px;
    overflow: hidden;


    box-sizing: border-box;
    padding: 30px;


    border-radius: 10px;
    border-top-left-radius: 20px;

    margin:100px auto;

    box-shadow: black 10px 10px 10px 10px;


}
.target:hover{
    height: 400px;

}

